/* Globale Farben für das helle Thema (Standard) */
:root {
  --primary-background: #ffffff;
  --secondary-background: #f0f2f5;
  --text-color: #333333;
  --heading-color: #1a1a1a;
  --border-color: #dddddd;
  --accent-color: #007bff;
  /* Weitere Farben für spezifische Elemente */
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--firstcolor);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-lg);
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #f9f9f9;
  }
}